*{

margin: 20px 20px;

}


button{
    display: block;
    margin: 20px 0px;

}

.search{
    background-color: white;
    border-radius: 20px;
    border-color: rgb(6, 167, 132);
    color:  rgb(6, 167, 132);
    padding: 5px 30px;
    font-weight: bold;
}


.add{
    background-color:rgb(30, 190, 164);
    color: white;
    border-radius:50%;
    border-color:rgb(30, 190, 164); 

}



.account{
    background-color:rgb(11, 113, 247);
    color: white;
    border-color:black;
    box-shadow: 0.3em 0.3em black, -0.1em -0.1em black;
    padding: 5px 15px
}